<a href="https://colab.research.google.com/github/ybressler/Web-Scraping/blob/master/Web_Scraper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Web Scraper Tool
"Turn on" the code by executing the first cell of this notebook. Simply hit "command + enter" to run it. Then, hide the code by foldin the header section.

In [0]:
# EXECUTE THIS CELL

# Step 1 
# ------------------------------
from google.colab import files


# Step 2
# ------------------------------
import re

skip_words = [
  'like', 'you', 'you\'ve', 'never',
  'before', 'in', 'a', 'an', 'it\'s', 
  'it', 'and', 'at', 'the', 'as', 
  'those', 'off', 'their','is', 'to', 
  'before','out', 'of', 'for', 'can',
  'us', 'our','it\'s','not','without',
  'up','now', 'on','between','happens',
  'where','find', 'find',
  'while','from','are','then','what','with','being',
  'it\'s','hey','how', 'i','which','about',
  'me','why','be','this','has','within','become','my',
  'work','one','come','fan','would','perhaps','both',
  'its','when','or','no','pm','am',
   'here','go','will','learn','buy',
    'more','please','sale','he','be','word','by','ftd',
    'the',

]

# Get rid of punctuation
f_only_words = lambda x: re.sub(r'[^\w\s]','', x)

def clean_your_tags(words_list):
  """
  cleans it all up!
  """

  if type(words_list)==str:
    words_list = f_only_words(words_list).lower()
    words_out = [x for x in words_list.split() if x not in skip_words]

  else:
    words_out = []
    for sub_words_list in words_list:
      sub_words_list = f_only_words(sub_words_list).lower()
      words_out += [x for x in sub_words_list.split() if x not in skip_words]

  return words_out

# Step 3
# ------------------------------

import requests
from bs4 import BeautifulSoup
import pandas as pd

def digest_a_web_page( url='https://www.trufflesmystery.com', n_min=1, specific_words = []):
  """
  scrapes a web page and returns a structured dataframe for all the words in the page
  """


  # url = 'https://www.trufflesmystery.com'
  r = requests.get(url)
  html = r.text

  soup = BeautifulSoup(html, 'html.parser')

  # Get the title
  title = f_only_words(soup.title.text.lower())

  # Get the h tags
  h1 = [f_only_words(x.text.lower()) for x in soup.find_all('h1')]
  h2 = [f_only_words(x.text.lower()) for x in soup.find_all('h2')]
  h3 = [f_only_words(x.text.lower()) for x in soup.find_all('h3')]
  body = [f_only_words(x.text.lower()) for x in soup.find_all('p')]

  # If that failed...
  if len(body)==0:
    body = [f_only_words(x.text.lower()) for x in soup.find_all('div', {'class':'paragraph'})]

  # get all the words which are left
  all_words = []
  for x in [title, h1, h2, h3, body]:
    all_words += clean_your_tags(x)


  # get words with highest counts
  unique_words = pd.Series(all_words).value_counts()
  unique_words = list(unique_words[unique_words>n_min].keys().values)

  # Get all the unique words
  unique_words = list(set(unique_words + title.split() + specific_words))


  # ------------------------------------------------

  records = []
  for word in unique_words:
    rec = {'word':word}
    for x, x_label in zip([title, h1, h2, h3, body], ['title', 'h1', 'h2', 'h3', 'body']):
      count = ' '.join(x).count(word) if type(x)!=str else x.count(word)
      rec[x_label] = count
      
    # append your values
    records.append(rec)


  # All done
  df = pd.DataFrame.from_records(records)
  df['total (with body)'] = df.sum(axis=1)
  df['total (without body)'] = df.drop(columns='total (with body)').sum(axis=1) - df['body']
  df.sort_values(by=['total (with body)','total (without body)', 'h1'], ascending=False, inplace=True)
  df.reset_index(drop=True,inplace=True)
  return df



# Step 4
# -------------------------------------------------
pd.options.display.max_colwidth=100

# You want to be able to see
pd.set_option('display.max_rows', 200)

In [0]:
# # -------   To use this tool   ------------
# # -------  (for python users)  ------------

# # Enter the url you're interested in here:
# url = 'https://www.lindonsupply.com/'

# # what's the cutoff threshold?
# n_min = 

# # Have any specific words?
# specific_words = []

# # Do you want to save your file?
# save_file = False

# # Perform the execution
# df = digest_a_web_page(url, n_min=n_min, specific_words=specific_words)

# if save_file==True:
#   url_name = url.split('.',)[0].split('/')[-1].title()
#   file_name = f'Web Scraping – {url_name}.csv'
#   with open(file_name, 'w') as f:
#     f.write(df.to_csv())
#   files.download(file_name)

# # Put this here to view
# df

# Try it with a form!

Fill out the info and hit "command + enter" to see it in action!

In [5]:
#@title Input for Web Scraper
#@markdown Words about the stuff. _Okay?_

website = "https://www.thecauldron.nyc/groups" #@param {type:"string"}
minimum_cutoff = 1  #@param {type: "slider", min: 0, max: 5}

#@markdown Enter each word separated by a comma
specific_words = 'birthday' #@param {type: "string"}

save_file_ = "No" #@param ["Yes", "No"] {allow-input: false}



# Perform the execution
df = digest_a_web_page(website, n_min=minimum_cutoff, specific_words=specific_words.split(','))


if save_file_==True:
  url_name = url.split('.',)[0].split('/')[-1].title()
  file_name = f'Web Scraping – {url_name}.csv'
  with open(file_name, 'w') as f:
    f.write(df.to_csv())
  files.download(file_name)
else:
  # print(df)
  None
df

           word  title  h1  ...  body  total (with body)  total (without body)
0           the      1   0  ...    51                 55                     4
1             1      0   0  ...    21                 22                     1
2         event      1   0  ...    20                 21                     1
3          your      0   0  ...    21                 21                     0
4            we      0   0  ...    17                 18                     1
..          ...    ...  ..  ...   ...                ...                   ...
101    arrivals      0   0  ...     2                  2                     0
102    catering      0   0  ...     2                  2                     0
103        must      0   0  ...     2                  2                     0
104  conditions      0   0  ...     2                  2                     0
105    birthday      0   0  ...     1                  1                     0

[106 rows x 8 columns]

# Advanced Section
_Researching Construction Equipment Companiees_

In [0]:
# Enter the url you're interested in here:
url_list = [
          'https://www.lindonsupply.com/',
          'https://www.hinchcrete.com/',
          'https://mauricebuildingsupplies.clickforward.com/',
          'https://mesllc.org/',
          'https://www.wryker.com',
          'https://www.industrialsafetygear.com/',
          'http://www.valeosafety.com/',
          'https://www.ohiopowertool.com/',
          'https://scapesbuilders.com/',
          'https://www.tullybuilding.com/',
          'http://www.lapietracontracting.com/',
          'https://www.spectar.io/',
          'https://www.digikey.sg/',
          'https://www.industrialsafetyproducts.com/',
          'http://northrock.com.sg/PPE/',
          'http://northrock.com.sg/',

            ]

n_min = 0
specific_words = []

df_list = []
# Perform the execution
for url in url_list:
  df = digest_a_web_page(url, n_min=n_min, specific_words=specific_words)
  df_list.append(df)

# merge your dataframes
df = pd.concat(df_list)

In [88]:

df_agg = df.groupby('word', as_index=False).agg(sum)

df_agg.drop(columns='total (with body)', inplace=True)
df_agg.rename(columns = {'total (without body)':'total'},inplace=True)
df_agg.sort_values('total', ascending=False, inplace=True)

# drop small words
df_agg = df_agg[df_agg['word'].apply(len) >=3]

# drop low frequency
df_agg = df_agg[((df_agg['title']>0)|(df_agg['h1']>0)|(df_agg['h2']>=3))&(df_agg['body']>0)]

df_agg.reset_index(drop=True, inplace=True)

# Save the file
file_name = f'Web Scraping -- researching construction companies.csv'
with open(file_name, 'w') as f:
  f.write(df_agg.to_csv())
files.download(file_name)

df_agg.head(100)

                       word  title  h1  h2  h3  body  total
0                    safety      7   1   4   5    22     17
1              construction      2   1   3   5    29     11
2                   service      2   1   2   6    21     11
3                  products      1   0   6   2    27      9
4                  services      2   1   2   4    11      9
5                 equipment      4   0   0   4    13      8
6                protection      0   0   5   3     4      8
7                      tool      2   0   1   5    18      8
8                   protect      1   0   6   0    10      7
9                  building      1   2   2   2    19      7
10                   supply      4   0   1   2     6      7
11                     your      0   2   2   3    33      7
12                     safe      2   2   1   2     2      7
13                    power      1   0   1   4    16      6
14                northrock      2   0   0   4     4      6
15            environmental      2   0   0   3     8      5
16                 customer      0   1   0   4     9      5
17               categories      0   1   2   2     1      5
18                 supplies      2   2   0   1    14      5
19                    tully      1   1   1   2     9      5
20                      all      0   1   3   1    40      5
21                     ohio      1   0   1   2     4      4
22                     gear      2   0   2   0     4      4
23                     real      0   1   3   0    11      4
24               protective      3   0   1   0     5      4
25                     best      0   4   0   0     7      4
26                      ics      1   0   0   2     3      3
27                     wear      0   0   3   0     3      3
28                 personal      3   0   0   0     5      3
29               industrial      2   0   1   0     6      3
30                  reality      0   1   2   0     6      3
31               electronic      1   1   0   1     8      3
32                    tools      1   0   1   1    19      3
33                augmented      0   1   2   0     5      3
34                 shipping      1   2   0   0     1      3
35               commitment      0   0   3   0     3      3
36                 brooklyn      1   1   0   0     1      2
37                     over      1   0   1   0    11      2
38                     free      1   0   0   1     5      2
39                selection      0   1   0   1     3      2
40                      ppe      1   0   1   0     5      2
41                    build      1   1   0   0     6      2
42                   wryker      2   0   0   0     2      2
43                 lapietra      1   1   0   0     1      2
44              electronics      1   0   0   1     2      2
45                      not      1   1   0   0     1      2
46                     1983      1   0   0   0     1      1
47                     corp      1   0   0   0     1      1
48              contracting      1   0   0   0     1      1
49               components      0   1   0   0     4      1
50                component      0   1   0   0     6      1
51                  company      0   1   0   0     2      1
52              contractors      1   0   0   0     2      1
53                  spectar      1   0   0   0    15      1
54                 discount      1   0   0   0     1      1
55                  digikey      1   0   0   0    13      1
56                    since      1   0   0   0     6      1
57                   orders      1   0   0   0     1      1
58                     info      0   1   0   0     4      1
59  industrialsafetygearcom      1   0   0   0     1      1
60                     page      1   0   0   0     2      1
61                      nyc      1   0   0   0     1      1
62                    large      0   1   0   0     3      1
63                    metro      1   0   0   0     1      1
64                 material      1   0   0   0     5      1
65                     logo      0   1   0   0     3      1
66                   lindon      1   0   0   0     4      1
67                  largest      0   1   0   0     2      1
68                   queens      1   0   0   0     1      1
69                  general      1   0   0   0     1      1
70                     home      1   0   0   0     7      1
71                   prices      1   0   0   0     1      1
72                    valeo      1   0   0   0     3      1
73                   worlds      0   1   0   0     1      1
74                      wbe      1   0   0   0     2      1
75                available      0   1   0   0     1      1
76                 builders      1   0   0   0     2      1
77                 supplier      1   0   0   0     8      1