<a href="https://colab.research.google.com/github/ybressler/Web-Scraping/blob/master/Web_Scraper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Web Scraper Tool
"Turn on" the code by executing the first cell of this notebook. Simply hit "command + enter" to run it. Then, hide the code by foldin the header section.

In [0]:
# EXECUTE THIS CELL

# Step 1 
# ------------------------------
from google.colab import files


# Step 2
# ------------------------------
import re

skip_words = [
  'like', 'you', 'you\'ve', 'never',
  'before', 'in', 'a', 'an', 'it\'s', 
  'it', 'and', 'at', 'the', 'as', 
  'those', 'off', 'their','is', 'to', 
  'before','out', 'of', 'for', 'can',
  'us', 'our','it\'s','not','without',
  'up','now', 'on','between','happens',
  'where','find', 'find',
  'while','from','are','then','what','with','being',
  'it\'s','hey','how', 'i','which','about',
  'me','why','be','this','has','within','become','my',
  'work','one','come','fan','would','perhaps','both',
  'its','when','or','no','pm','am',
   'here','go','will','learn','buy',
    'more','please','sale','he','be','word','by','ftd',
    'the', '','let', 'do',

]

# Get rid of punctuation
f_only_words = lambda x: re.sub(r'[^\w\s]','', x)

def clean_your_tags(words_list):
  """
  cleans it all up!
  """

  if type(words_list)==str:
    words_list = f_only_words(words_list).lower()
    words_out = [x for x in words_list.split() if x not in skip_words]

  else:
    words_out = []
    for sub_words_list in words_list:
      sub_words_list = f_only_words(sub_words_list).lower()
      words_out += [x for x in sub_words_list.split() if x not in skip_words]

  return words_out

# Step 3
# ------------------------------

import requests
from bs4 import BeautifulSoup
import pandas as pd
import inflect

def digest_a_web_page( url='https://www.trufflesmystery.com', n_min=1, specific_words = []):
  """
  scrapes a web page and returns a structured dataframe for all the words in the page
  """


  # url = 'https://www.trufflesmystery.com'
  r = requests.get(url)
  html = r.text

  soup = BeautifulSoup(html, 'html.parser')

  # Get the title
  title = f_only_words(soup.title.text.lower())

  # Get the description
  description = soup.find('meta', attrs={'property':'og:description'})
 
  # If description meta tag was found, then get the content
  description = f_only_words(description.get('content')) if description else '' 

  # Get the h tags
  h1 = [f_only_words(x.text.lower()) for x in soup.find_all('h1')]
  h2 = [f_only_words(x.text.lower()) for x in soup.find_all('h2')]
  h3 = [f_only_words(x.text.lower()) for x in soup.find_all('h3')]
  body = [f_only_words(x.text.lower()) for x in soup.find_all('p')]

  # If that failed...
  if len(body)==0:
    body = [f_only_words(x.text.lower()) for x in soup.find_all('div', {'class':'paragraph'})]

  # get all the words which are left
  all_words = []
  for x in [title, description, h1, h2, h3, body]:
    all_words += clean_your_tags(x)


  # get words with highest counts
  unique_words = pd.Series(all_words).value_counts()
  unique_words = list(unique_words[unique_words>n_min].keys().values)

  # Get all the unique words
  unique_words = list(set(unique_words + title.split() + specific_words))


  # ------------------------------------------------

  records = []
  for word in unique_words:
    rec = {'word':word}
    for x, x_label in zip([title, description, h1, h2, h3, body], ['title', 'description', 'h1', 'h2', 'h3', 'body']):
      count = ' '.join(x).count(word) if type(x)!=str else x.count(word)
      rec[x_label] = count
      
    # append your values
    records.append(rec)


  # All done
  df = pd.DataFrame.from_records(records)
  
  # drop all the skip words
  df = df[~df['word'].isin(skip_words)]

  # also, merge words that are plural
  p = inflect.engine()
  p_f = lambda x: p.singular_noun(x) if p.singular_noun(x) else x
  df['word'] = df['word'].apply(p_f)
  df = df.groupby('word',as_index=False).sum()

  df['total (with body)'] = df.sum(axis=1)
  df['total (without body)'] = df.drop(columns='total (with body)').sum(axis=1) - df['body']
  df.sort_values(by=['total (with body)','total (without body)', 'h1'], ascending=False, inplace=True)
  df.reset_index(drop=True,inplace=True)


  return df



# Step 4
# -------------------------------------------------
pd.options.display.max_colwidth=100

# You want to be able to see
pd.set_option('display.max_rows', 200)

In [0]:
# # -------   To use this tool   ------------
# # -------  (for python users)  ------------

# # Enter the url you're interested in here:
# url = 'https://www.lindonsupply.com/'

# # what's the cutoff threshold?
# n_min = 

# # Have any specific words?
# specific_words = []

# # Do you want to save your file?
# save_file = False

# # Perform the execution
# df = digest_a_web_page(url, n_min=n_min, specific_words=specific_words)

# if save_file==True:
#   url_name = url.split('.',)[0].split('/')[-1].title()
#   file_name = f'Web Scraping â€“ {url_name}.csv'
#   with open(file_name, 'w') as f:
#     f.write(df.to_csv())
#   files.download(file_name)

# # Put this here to view
# df

# Try it with a form!

Fill out the info and hit "command + enter" to see it in action!

In [3]:
#@title Input for Web Scraper
#@markdown Words about the stuff. _Okay?_

website = "https://www.wryker.com" #@param {type:"string"}
minimum_cutoff = 1  #@param {type: "slider", min: 0, max: 5}

#@markdown Enter each word separated by a comma
specific_words = '' #@param {type: "string"}

save_file_ = "No" #@param ["Yes", "No"] {allow-input: false}



# Perform the execution
df = digest_a_web_page(website, n_min=minimum_cutoff, specific_words=specific_words.split(','))


if save_file_==True:
  url_name = url.split('.',)[0].split('/')[-1].title()
  file_name = f'Web Scraping â€“ {url_name}.csv'
  with open(file_name, 'w') as f:
    f.write(df.to_csv())
  files.download(file_name)
else:
  # print(df)
  None
df

            word  title  ...  total (with body)  total (without body)
0         radian      0  ...                 23                     0
1   construction      1  ...                  8                     5
2            hat      0  ...                  8                     2
3           alfa      0  ...                  8                     0
4          power      0  ...                  8                     0
5           tool      0  ...                  8                     0
6            job      0  ...                  7                     4
7           your      0  ...                  7                     2
8       lighting      0  ...                  7                     0
9         voltec      0  ...                  7                     0
10       dynamic      0  ...                  6                     0
11         malta      0  ...                  6                     0
12        supply      1  ...                  5                     2
13      guardian      0  ...                  5                     0
14        safety      0  ...                  4                     4
15        wryker      2  ...                  4                     2
16          know      0  ...                  4                     0
17          site      0  ...                  3                     2
18          talk      0  ...                  3                     2
19       toolbox      0  ...                  3                     2
20     compliant      0  ...                  3                     1
21          osha      0  ...                  3                     1
22       product      0  ...                  3                     1
23          hard      0  ...                  3                     0
24           inc      0  ...                  3                     0
25      industry      0  ...                  3                     0
26           msa      0  ...                  3                     0
27        mutual      0  ...                  3                     0
28          need      0  ...                  3                     0
29        matter      0  ...                  2                     2
30         trade      0  ...                  2                     2
31          easy      0  ...                  2                     1
32          make      0  ...                  2                     1
33       browser      0  ...                  2                     0
34           get      0  ...                  2                     0
35          type      0  ...                  2                     0
36        update      0  ...                  2                     0
37    commercial      0  ...                  1                     1
38           ppe      0  ...                  1                     0
39  professional      0  ...                  0                     0

[40 rows x 9 columns]

# Advanced Section
_Researching Construction Equipment Companiees_

In [0]:
# Enter the url you're interested in here:
url_list = [
          'https://www.lindonsupply.com/',
          'https://www.hinchcrete.com/',
          'https://mauricebuildingsupplies.clickforward.com/',
          'https://mesllc.org/',
          'https://www.wryker.com',
          'https://www.industrialsafetygear.com/',
          'http://www.valeosafety.com/',
          'https://www.ohiopowertool.com/',
          'https://scapesbuilders.com/',
          'https://www.tullybuilding.com/',
          'http://www.lapietracontracting.com/',
          'https://www.spectar.io/',
          'https://www.digikey.sg/',
          'https://www.industrialsafetyproducts.com/',
          'http://northrock.com.sg/PPE/',
          'http://northrock.com.sg/',

            ]

n_min = 0
specific_words = []

df_list = []
# Perform the execution
for url in url_list:
  df = digest_a_web_page(url, n_min=n_min, specific_words=specific_words)
  df_list.append(df)

# merge your dataframes
df = pd.concat(df_list)

In [5]:

df_agg = df.groupby('word', as_index=False).agg(sum)

df_agg.drop(columns='total (with body)', inplace=True)
df_agg.rename(columns = {'total (without body)':'total'},inplace=True)
df_agg.sort_values('total', ascending=False, inplace=True)

# drop small words
df_agg = df_agg[df_agg['word'].apply(len) >=3]

# drop low frequency
df_agg = df_agg[((df_agg['title']>0)|(df_agg['h1']>0)|(df_agg['h2']>=3))&(df_agg['body']>0)]

df_agg.reset_index(drop=True, inplace=True)

# Save the file
file_name = f'Web Scraping -- researching construction companies.csv'
with open(file_name, 'w') as f:
  f.write(df_agg.to_csv())
files.download(file_name)

df_agg.head(100)

                       word  title  description  h1  h2  h3  body  total
0                   service      4            0   2   4  10    32     20
1                    safety      7            1   1   4   5    22     18
2                    supply      6            3   2   1   3    21     15
3                   product      1            2   0   8   4    53     15
4              construction      2            3   1   3   5    29     14
5                      tool      3            0   0   2   6    37     11
6                protection      0            1   0   5   3     4      9
7                      safe      2            1   2   1   2     2      8
8                  building      1            1   2   2   2    19      8
9                 equipment      4            0   0   0   4    13      8
10                     your      0            1   2   2   3    33      8
11                  protect      1            0   0   6   0    15      7
12                northrock      2            0   0   0   4     4      6
13                      all      0            1   1   3   1    40      6
14                    power      1            0   0   1   4    16      6
15                     best      0            2   4   0   0     7      6
16            environmental      2            0   0   0   3     8      5
17               electronic      2            0   1   0   2    10      5
18                    tully      1            0   1   1   2     9      5
19                 customer      0            0   1   0   4    15      5
20                 category      0            0   1   2   2     1      5
21                    build      1            2   1   0   0     6      4
22                 material      1            2   0   1   0     8      4
23               protective      3            0   0   1   0     5      4
24                     real      0            0   1   3   0    11      4
25                     ohio      1            0   0   1   2     4      4
26                     suit      0            0   0   4   0     2      4
27                     gear      2            0   0   2   0     4      4
28                  reality      0            0   1   2   0     6      3
29                 shipping      1            0   2   0   0     1      3
30                     over      1            1   0   1   0    11      3
31               commitment      0            0   0   3   0     3      3
32                 personal      3            0   0   0   0     5      3
33                augmented      0            0   1   2   0     5      3
34               industrial      2            0   0   1   0     6      3
35                    state      1            0   1   0   1     3      3
36                     wear      0            0   0   3   0     3      3
37                selection      0            0   1   0   1     3      2
38                  builder      1            1   0   0   0     2      2
39                 brooklyn      1            0   1   0   0     1      2
40                component      0            0   2   0   0    10      2
41                  company      0            1   1   0   0     2      2
42                   wryker      2            0   0   0   0     2      2
43                      ppe      1            0   0   1   0     5      2
44                 lapietra      1            0   1   0   0     1      2
45                 discount      1            0   0   0   0     1      1
46                  digikey      1            0   0   0   0    21      1
47                      nyc      1            0   0   0   0     1      1
48                     corp      1            0   0   0   0     1      1
49                    large      0            0   1   0   0     3      1
50                    metro      1            0   0   0   0     1      1
51                  spectar      1            0   0   0   0    18      1
52                  largest      0            0   1   0   0     2      1
53               contractor      1            0   0   0   0     3      1
54              contracting      1            0   0   0   0     1      1
55                    since      1            0   0   0   0     6      1
56                     logo      0            0   1   0   0     4      1
57                   lindon      1            0   0   0   0     4      1
58                    queen      1            0   0   0   0     1      1
59                     info      0            0   1   0   0     4      1
60                     page      1            0   0   0   0     2      1
61                  general      1            0   0   0   0     1      1
62                    price      1            0   0   0   0     8      1
63                     free      1            0   0   0   0     5      1
64                     home      1            0   0   0   0     7      1
65  industrialsafetygearcom      1            0   0   0   0     1      1
66                    order      1            0   0   0   0     2      1
67                   repair      1            0   0   0   0     1      1
68                    valeo      1            0   0   0   0     3      1
69                     1983      1            0   0   0   0     1      1
70                 supplier      1            0   0   0   0    13      1
71                available      0            0   1   0   0     1      1
72                      wbe      1            0   0   0   0     2      1
73                    world      0            0   1   0   0     2      1